%h3 What players are saying:

%ul
  - comments.each do |comment|
    %li
      %img{:src => comment.player.avatar_url}
      %a.comment_player_name{:href => player_path(comment.player.username)}= comment.player.name
      %span.comment_body= comment.body

- if @page == 1 && @comments.pages > 1
  = link_to raw("more comments &rsaquo;"), "/shots/#{@shot.id}?page=#{@page +1}", :class => 'big-pink'
- elsif @page > 1 && @page < @comments.pages
  = link_to raw("&laquo; back to start"), "/shots/#{@shot.id}" , :class => 'big-pink-third'
  = link_to raw("&lsaquo; previous"), "/shots/#{@shot.id}?page=#{@page - 1}", :class => 'big-pink-third'
  = link_to raw("next &rsaquo;"), "/shots/#{@shot.id}?page=#{@page + 1}", :class => 'big-pink-third'
- elsif @page == @comments.pages && @comments.pages > 1
  = link_to raw("&laquo; back to start"), "/shots/#{@shot.id}", :class => 'big-pink-half'
  = link_to raw("&lsaquo; previous comments"), "/shots/#{@shot.id}?page=#{@page - 1}", :class => 'big-pink-half'
