#header
  %h1.hooppps hooppps
  %a.about{:href => '#about'} About
#content
  = render :partial => "shots"
  - if @page == 1
    = link_to raw("more shots &rsaquo;"), root_path(:page => @page + 1), :class => 'big-pink'
  - elsif @page > 1 && @page < @shots.pages
    = link_to raw("&laquo; back to start"), root_path , :class => 'big-pink-third'
    = link_to raw("&lsaquo; previous"), root_path(:page => @page - 1), :class => 'big-pink-third'
    = link_to raw("next &rsaquo;"), root_path(:page => @page + 1), :class => 'big-pink-third'
  - elsif @page == @shots.pages
    = link_to raw("&laquo; back to start"), root_path , :class => 'big-pink-half'
    = link_to raw("&lsaquo; previous shots"), root_path(:page => @page - 1), :class => 'big-pink-half'
  
#about
  %h2 About
  %p 
    hooppps was created by 
    %a{:href => 'http://thinkrelevance.com', :target => '_blank'} Relevance, Inc. 
    Hooppps is built on Rails and uses the 
    %a{:href => 'http://github.com/jeremyw/swish', :target => '_blank'} swish 
    gem. The code is hosted on 
    %a{:href => 'http://github.com/relevance/hooppps', :target => '_blank'} github 
    and is ready for your design/dev love. 
  %p.copyright 
    hooppps is in no way affiliated with 
    %a{:href => 'http://dribbble.com', :target => '_blank'} dribbble
    but is obviously a huge fan!