#content
  .shot_meta
    = image_tag @shot.player.avatar_url
    %h2
      = @shot.title
      %span
        %strong By:
        %a{:href => player_path(@shot.player.id)} 
          = @shot.player.name
        - if @shot.player.name == nil
          %a{:href => player_path(@shot.player.username)} 
            = @shot.player.username
  = image_tag @shot.image_url
  .stats-container
    .stats-tooltip-border
    .stats-tooltip
    %ul.stats
      %li.views 
        = @shot.views_count
      %li.comments 
        = @shot.comments_count
      %li.likes.no-view 
        = @shot.likes_count
  %a.big-pink{:href => "http://twitter.com/share?text=Found%20on%20@dribbble:&url="+@shot.url+"&via=hooppps" , :target => "_blank"} Share this shot on twitter
  #comments
    = render 'comments', :comments => @comments, :shot => @shot
