#header
  %h1.hooppps hooppps
  = link_to "back", request.env["HTTP_REFERER"], :class => 'back_button'
#content
  .shot_meta
    = image_tag @shot.player.avatar_url
    %h2
      = @shot.title
      %span
        %strong By:
        = @shot.player.name
  = image_tag @shot.image_url
  %ul.stats
    %li.views 
      = @shot.views_count
    %li.comments 
      = @shot.comments_count
    %li.likes.no-view 
      = @shot.likes_count
  %a.big-pink{:href => "http://twitter.com/"+@shot.player.twitter_screen_name , :target => "_blank"} Follow Player on Twitter

  #comments
    = render 'comments', :comments => @comments, :shot => @shot
