#nav 
  = link_to "popular shots", {:controller => "popular", :action => "index"}, :class => 'button popular'
  = link_to "everyone's shots", {:controller => "everyone", :action => "index"}, :class => 'button everyone'
  = link_to "debut shots", {:controller => "debut", :action => "index"}, :class => 'button debut'
  = link_to "go to player", {:controller => "player", :action => "search"}, :class => 'button'
  = link_to "about hooppps", {:controller => "about", :action => "index"}, :class => 'button about'
