#nav 
  %ul
    .tip-border
    %li.first.popular= link_to "popular shots", {:controller => "popular", :action => "index"}
    %li.everyone= link_to "everyone's shots", {:controller => "everyone", :action => "index"}
    %li.debut= link_to "debut shots", {:controller => "debut", :action => "index"}
    %li.go-to-player= link_to "go to player", {:controller => "player", :action => "search"}
    %li.about= link_to "about hooppps", {:controller => "about", :action => "index"}
