!!! html
%html
  %head
    %title hooppps
    = stylesheet_link_tag 'hooppps'
    = javascript_include_tag 'jquery','application'
    = csrf_meta_tag 
    / %meta{:name => 'viewport', :content => 'user-scalable=no, width=device-width'}
    %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;'}
  %body
    #header
      %h1.hooppps hooppps
      %a.nav{:href => '#nav'} nav
      != back_button
      /%a.back_button{:href => 'javascript:window.history.back()'} Back
    = yield
    = render :partial => "shared/nav"  
